@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --ColorBody : rgba(250,228,205,255);
    --FontPrincipal : "Inter", sans-serif;
    --h1Size: 5em;
    --subtitulosSize: 25px;
    --textoSize: 18px;
    --colorSeleccion: rgba(11,94,191,255);
}

/*estilos etiquetas*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--ColorBody);
    font-family: var(--FontPrincipal);
}

h1{
    font-size: var(--h1Size);
}

h2{
    font-size: 2em;
}
section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 87%;
    margin-top: 100px;
    margin-bottom: 53px;
   
}

input{
    width: 450px;
    height: 40px;
    border: 2px solid rgb(0,0,0,0.2);
    border-radius: 5px;
    opacity: 0.5;
    background: url(imagenes/iconoLupa.svg) no-repeat 10px center;
    background-size: 20px 20px;
    padding: 5px 35px;
}



/*estilos clases*/
.section-div-navBar{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 10px 0;
    
}

.div-opciones{
    display: flex;
    flex-direction: row;
    margin: 0 15px;
    align-items: center;
}

.div-opciones > a{
    margin: 0 10px;
    font-size: var(--textoSize);
    cursor: pointer;
}

.div-p-seleccionado{
    font-weight: 600;
    color: var(--colorSeleccion) !important;
}

.div-botones{
    margin: 0 20px;
    align-items: center;
}

.div-botones a, .div-opciones a{
    margin: 0 10px;
    font-size: var(--textoSize);
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.div-botones a:hover, .div-opciones a:hover{
    color: var(--colorSeleccion);
    font-weight: 500;
}
.div-a-DowloadApp{
    border: 2px solid var(--colorSeleccion);
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 600;
}
.div-a-DowloadApp:hover{
 background-color: var(--colorSeleccion);
 color: white !important;
}
.div-a-Register{
    background-color: var(--colorSeleccion);
    border-radius: 5px;
    padding: 5px 15px;
    color: white  !important;
    font-weight: 500;
}

.div-a-Register:hover{
    background-color: white;
    color: var(--colorSeleccion) !important;
    border: 1px solid var(--colorSeleccion);
}